/* navbar style */
.nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
}

.navhead {
    width: 112px;
    height: 30px;
    display: flex;
    align-items: center;
}

.navhref {
    width: 112px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.navimg {
    height: 18px;
    line-height: 28px;
    color: #3e74e8;
}

.mavatar {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    white-space: nowrap;
    overflow: hidden;
    background: -webkit-linear-gradient(top, #7990c2, #8ba3d2);
    background-image: url('./avatar.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid #eee;
    cursor: pointer;
}

.dropdown {
    box-sizing: border-box;
    border: 1px solid #ddd;
    width: 290px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    float: right;
    position: relative;
    z-index: 99999;
}

.avatar {
    margin-top: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url('../assets/avatar.jpg') no-repeat center;
    background-size: contain;
    flex-shrink: 0;
    margin: 20px auto 0 auto;
}

.name {
    color: #637282;
    line-height: 20px;
    font-size: 16px;
    margin: 14px 0;
    text-align: center;
    width: 290px;
}

.ul {
    margin: 0;
    box-sizing: border-box;
    padding: 18px 0 0 18px;
    padding-right: 18px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    width: "100%";
    list-style: "none";
}

.ul > .li {
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 18px;
    color: #637282; 
    list-style: none;
}

.footer {
    cursor: pointer;
    font-size: 14px;
    color: #637282;
    box-sizing: border-box;
    padding: 18px 0 18px 18px;
    width: "100%"
}

/* container style */
.container {
    display: flex;
    width: 700px;
    height: 510px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 4px #ccc;
    position: fixed;
    top: 20%;
    left: 32%;
    background: #fff;
}

.sidebar {
    width: 150px;
    height: 510px;
    border-right: 1px solid #ccc;
    display: inline-block;
}

.sidebar > div {
    width: 150px; 
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    cursor: pointer;
}
.wrapper {
    width: 500px;
    height: 440px;
}

.userdiv {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 26px;
    margin-top: 30px;
    margin-left: 102px;
}

.useremail {
    width: 500px;
    text-align: center;
}

.userlogo {
    display: flex;
    margin: 0 auto;
    width: 80px;
}

.profilecard, .passwordcard {
    width: 400px;
    margin-left: 50px;
    margin-top: 30px;
}

.desc {
    display: inline-block;
    width: 100px;
    height: 30px;
    padding-right: 5px;
}

.form input {
    font-size: 14px;
    width: 280px;
    height: 30px;
    border: none;
    outline: none;
    font-weight: 300;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 4px #ccc;
    padding: 4px 8px;
    box-sizing: border-box;
}

.tips {
    display: none;
    position: absolute;
    top: 72px;
    right: -30px;
    transform: translateX(100%);
    background-color: rgb(228, 0, 5);
    box-shadow: 0 0 25px rgba(228, 0, 5, .3);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 6px 14px;
}

.tips em {
    display: block;
    position: absolute;
    top: 8px;
    left: -15px;
    border: 8px solid rgb(228, 0, 5);
    border-color: transparent;
    border-right-color: rgb(228, 0, 5);
    font-size: 0;
    line-height: 0;
}

.border {
    height: 1px;
    background-color: #f2f2f2;
    margin: 10px 0;
}

.submit {
    outline: none;
    background-color: #0f68ed;
    color: #fff;
    width: 76px;
    height: 34px;
    border: none;
    font-size: 14px;
    border-radius: 3px;
    float: float;
    margin-top: 8px;
    margin-left: 109px;
    cursor: pointer;
}
.tipText {
    font-size: 12px;
    text-align: center;
    width: 260px;
    height: 30px;
    margin-top: 80px;
    color: #aaa;
}

.hide {
    display: none;
}

.selected {
    border-left: 2px solid #000;
    font-weight: bold;
}

.opacity {
    opacity: 0.4;
}