.container {
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid #ddd;
    width: 290px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    
    li {
        list-style: none;
    }

    .avatar {
        margin-top: 20px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: url('./avatar.jpg') no-repeat center;
        background-size: contain;
        flex-shrink: 0;
        margin: 20px auto 0 auto;
    }

    .name {
        color: #637282;
        line-height: 20px;
        font-size: 16px;
        margin: 14px 0;
        text-align: center;
        width: 290px;
    }

    .ul {
        margin: 0;
        box-sizing: border-box;
        padding: 18px 0 0 18px;
        padding-right: 18px;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        .li {
            cursor: pointer;
            font-size: 14px;
            margin-bottom: 18px;
            color: #637282;  
        }
    }

    .footer {
        cursor: pointer;
        font-size: 14px;
        color: #637282;
        box-sizing: border-box;
        padding: 18px 0 18px 18px;
    }
}